.profileModal{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 200;

    transition: 200ms linear;
    padding: 20px;
    padding-top: 30px;
}

.authForm{
    padding: 30px;
}
.authNav{
    display: flex;
    gap: 30px;
}

.authLink{
    font-size: 30px;
    font-weight: 400;
    color: grey;
    cursor: pointer;
}

.linkActive {
    color: var(--accentColor);
    font-weight: 600;
}

.Form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fieldWrapper{
    position: relative;
}

.field{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 12px;
    padding-left: 15px;
    font-size: 18px;
    background-color: rgb(228, 228, 228);

    color: black
}

.errorMessage{
    color: var(--accentColor);
    position: absolute;
}

.iconBtn{
    position: absolute;
    background: inherit;
    right: 20px;
    top: 15px;

    font-size: 20px;
}

.button{
    background-color: var(--accentColor);
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 14px;
}